body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-signup-container, .main-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, purple, #2575FC);
}

.signup-card, .login-card {
    background: white;
    width: 400px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.signup-card-header, .login-card-header {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.signup-card-footer, .login-card-footer {
    background: white;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.logo-container {
    margin-top: -60px;
}

.logo-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: blue;
    border: none;
}

.btn-primary:hover {
    background-color: #0A2553;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #1b47e6;
}

.text-danger {
    color: #FF4D4D;
    font-weight: bold;
}

#passwordRequirements {
    list-style: none;
    padding: 0;
    font-size: 0.85em;
    color: gray;
}

#passwordRequirements li {
    margin-bottom: 3px;
}
